version: '3'

services:
  todo-api:
    container_name: todo-api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - APP_ENV=production
      - APP_SECRET=123
      - TOKEN_DURATION_HOUR=24
      - MONGO_URI=mongodb://todo-db:27017
      - MONGO_DATABASE=todo-api
      - PORT=1323
    ports:
      - "1323:1323"
    depends_on:
      - todo-db
    networks:
      - ticket-network
  todo-db:
    container_name: todo-db
    image: mongo:latest
    networks:
      - ticket-network
networks:
  ticket-network:
    driver: bridge